ol {
	list-style: none;
	counter-reset: order-list;
	li {
		&::before {
			counter-increment: order-list;
			content: counter(order-list) ") ";
			color: $color-primary;
		}
	}
}
ul {
	list-style: none;
	li {
		&::before {
			content: "";
			display: inline-block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: $color-primary;
			margin-right: 10px;
		}
	}
}
.markap {
	.selection::selection {
		background-color: $color-selection;
	}
}
.markap-wrapp {
	.markap-item {
		&.color-primary {
			background-color: $color-primary;
		}
		&.color-secondary {
			background-color: $color-secondary;
		}
		&.body-primary {
			background-color: $body-primary;
		}
		&.body-secondary {
			background-color: $body-secondary;
		}
	}
	.font-style-bold {
		font-weight: bold;
	}
	.font-style-italic {
		font-style: italic;
	}
	.link-style {
		color: #ffffff;
	}
}
