header {
	.navbar {
		padding: 25px 0 39px;
		&-nav {
			max-width: 618px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin: 3px auto 0;
		}
		.nav-link {
			color: #fff;
			line-height: 1.46;

			&:hover {
				color: $color-secondary;
			}
		}
	}
	.btn {
		padding: 13px 26px;
		letter-spacing: 0px;
	}
}
