///fonts///
$font-primary: "ProximaNova";
$font-secondary: "monospace";
$font-size: 16px;

///colors///
$color-primary: #e58d35;
$color-secondary: #89c249;
$color-selection: rgb(137, 194, 73, 0.5);
$body-primary: #282b38;
$body-secondary: #363a4d;
