:root {
  --btn-color: #502d4d;
  --indent: 10px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
}
.container,
h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 20px;
}
img {
  display: block;
  height: 100vh;
}
.section-btn {
  margin-top: 20px;
}

.btn {
  display: block;
  width: 100%;
  max-width: var(--max-sixe);
  border-radius: 20px;
  margin: 15px auto;
  padding: var(--indent) calc(var(--indent) * 2.2);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: 0.8s;
}
.btn:hover {
  opacity: 0.8;
}
.btn.btn-normal {
  --max-sixe: 400px;
  border: 3px solid var(--btn-color);
  color: rgba(133, 94, 129);
}
